* {
    margin: 0px;
    padding: 0px;
}

.header-container{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #fae3d9;
}

.header-container img{
    height: 80px;
    float: left;
    margin-top: 0;
}

.header-title{
    width: 100%;
    font-weight: bold;
    color: darkslategray;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.left-menu{
    position: fixed;
    top: 80px;
    width: 250px;
    height: 10000px;
    background-color: #bbded6;
    color: darkslategray;
    
}

.menu-btn{
    margin: 20px 0 0 30px;
    width: 150px;
    height: 50px;
    border-radius: 15px;
    background-color: #8ac6d1;
    border-color: #8ac6d1;
    box-shadow: 1px 1px 0px 1px gray;
}

.menu-title{
    padding: 15px 20px 20px 20px;
    color: darkslategray;
    text-align: center;
}