header{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: aqua;
}

.header-title{
    width: 100%;
}

h1{
    font-weight: bold;
    color: darkslategray;
    text-align: center;
}