* {
    margin: 0px;
    padding: 0px;
}

.header-container{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #fae3d9;
    z-index: 1;
}

.header-container img{
    height: 80px;
    float: left;
    margin-top: 0;
    position: absolute;
}

.header-title{
    width: 100%;
    font-weight: bold;
    color: darkslategray;
    position: absolute;
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
}

.left-menu{
    position: fixed;
    top: 80px;
    width: 250px;
    height: 10000px;
    background-color: #bbded6;
    color: darkslategray;

    
}

.menu-btn{
    margin: 20px 0 0 30px;
    width: 150px;
    height: 45px;
    border-radius: 10px;
    background-color: #8ac6d1;
    border-color: #8ac6d1;
    box-shadow: 1px 1px 0px 0px gray;
    outline: none;
}

.menu-title{
    padding: 10px 20px;
    color: rgb(4, 114, 116);
    text-align: center;
    font-weight: bold;
    font-family: sans-serif;
}

.main-container{
    position: absolute;
    top: 80px;
    left: 250px;
    z-index: 0;
    width: calc(100% - 250px);
}

.main-message{
    text-align: center;
}